
.car{
        padding-top: 30vh;
        height: 100vh;
        width: 100%;
        background-image: url(./Images/car1.jpg);
        background-size: cover;
        background-position: center;
        /* position: fixed; */
        text-align: center;
        color: white;

    }

    .model{
        text-align: center;
    }

.BMW :hover{
    color: orange;
}
.car-info{
    padding-top: 30vh;
    width: 100%;
    background-image: url(./Images/car4.jpg);
    background-size: cover;
    background-position: center;
    /* position: fixed; */
    text-align: left;
    color:#ffffff;
    font-weight:700 ;
    font-size: larger;
    padding-left: 100vh;

}

.about{
    text-align: center;
}

.container{
    text-align: left;
    padding: 2vh;
}
.count{
    padding-top: 200px;
    height: 50vh;
    width: 100%;
    color: rgb(255, 217, 28);
    background-image: url(./Images/car6.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: space-between;
    justify-content: center;
}
#cards5 :hover{
    background-color: rgb(248, 255, 240);

}
#cards6 :hover{
    border-radius: 20px;
    background-color:red;
}

.service{
    text-align: center;
}



.testimonials{
    background-image: url('./Images/car9.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}
.icons :hover{
    color: darkslategray;
    
}